+keyframes(fadeIn)
  from
    opacity: 0
    +translateY(40px)
  to
    opacity: 1
    +translateY(0)

.content
  .featured
    position: relative
    margin: 50px auto

    hr
      width: 100%
      margin: 5px 0
      background: $featured-border

    .img-wrap
      height: 500px
      overflow: hidden
      position: relative

      img
        position: absolute
        top: 50%
        min-height: 100%
        display: block
        left: 50%
        +transform(translate(-50%, -50%))
        min-width: 100%

    .featured-post-wrap
      margin: 0 auto
      +position(absolute, null 0 75px 0)
      width: 70%
      color: $featured-text
      +animation(fadeIn 0.8s ease-out)

      .searchBox-flex
        height: 170px
        display: flex
        align-items: center
        justify-content: center

        .searchBox
          background-color: rgba(0,0,0, 0.1)
          border-radius: 3px
          padding: 5px

          .searchBox-input
            text-align: center
            border-radius: 0
            font:
              family: $primary-font
              size: 24px
              weight: 300
            padding: 25px
            border-color: rgba(0,0,0,0)

            &:focus
              box-shadow: inset 0 1px 1px $shadow, 0 0 8px $links
              border-color: $links

          .searchBox-btn
            border-radius: 0
            font-size: 24px
            padding: 10px 14px 6px
            background: transparentize($read-more, 0.2)
            color: $featured-text
            +transition(0.2s ease-in-out)
            border-color: rgba(0,0,0,0)

            &:hover
              box-shadow: 0 0 8px $links
              background: transparentize($read-more, 0.1)

      h2
        font:
          family: $blog-font
          size: 48px
        margin: 0
        text-shadow: 0px 1px 1px rgba(0,0,0, 0.5)
        background-color: rgba(0,0,0, 0.1)
        padding: 10px
        border-top-left-radius: 5px
        border-top-right-radius: 5px

      p
        text-align: justify
        font:
          family: $primary-font
          size: 24px
          weight: 300
        margin: 0 0 30px
        text-shadow: 0px 1px 1px rgba(0,0,0, 0.5)
        background-color: rgba(0,0,0, 0.2)
        padding: 10px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px

  .posts-wrap
    margin: 100px auto 0
    width: 80%
    box-shadow: 0 0 3px 1px $shadow
    +display(flex)

    .posts
      padding: 25px
      display: inline-block
      width: 100%

      .post
        margin: 0 0 30px
        width: 100%

        .post-info
          p.date
            font:
              family: $primary-font
              size: 12px
              weight: 700
            text-transform: uppercase
            color: $post-paragraph
            margin: 0

          a.title
            color: $post-title

            &:hover
              color: transparentize($post-title, 0.1)
            &:hover, &:active, &:visited, &:link
              text-decoration: none

          h2
            font:
              family: $blog-font
              size: 42px
            margin: 10px 0
            color: $post-title

          .post-paragraph
            text-align: justify
            font:
              family: $primary-font
              size: 20px
              weight: 300
            margin: 15px 0
            color: $post-paragraph

          .read-more-container
            padding: 25px 0
            text-align: center

            .read-more
              font:
                size: 20px

          ul
            list-style-type: none
            padding: 0
            margin-top: 25px

            a
              margin: 0 20px 0 0
              padding: 0

            li
              text-transform: uppercase
              font:
                family: $primary-font
                size: 12px
                weight: 700
              display: inline-block
              padding: 0
              margin: 0

        .post-img
          height: 400px
          overflow: hidden
          position: relative

          img
            position: absolute
            top: 50%
            width: auto
            height: auto
            min-height: 100%
            min-height: 100%
            display: block
            left: 50%
            +transform(translate(-50%, -50%))
            min-width: 100%

        .post-img-full
          img
            max-width: 100%

    .sidebar
      padding: 25px
      +transition(0.3s ease-in-out)

      hr
        margin: 30px auto

      p
        font:
          family: $primary-font
          size: 20px
          weight: 300
        color: $post-paragraph
        margin-bottom: 15px

      ul
        list-style-type: none
        padding: 0 10px

        li
          font-size: 14px
          margin: 5px 0
          padding: 0

      .tags
        li
          text-transform: uppercase
          font:
            size: 0.7em
            weight: 700
          display: inline-block
          background: $links
          color: $bg
          padding: 0 5px
          border-radius: 3px

          &:hover
            background: transparentize($links, 0.2)

#content
  .margin-top-20
    margin-top: 20px

  .edit-form
    margin: 35px

#create
  .form-wrap
    .form-control
      margin: 0px auto 15px
    .btn
      margin: 0px auto 100px
    label
      margin: 15px auto 0px
