html, body
  font:
    family: $primary-font
    size: 16px
  background:
    color: $bg

a
  color: $links

  &:hover
    color: transparentize($links, 0.2)
    text-decoration: none

hr
  border: 0px
  height: 1px
  background: $hr-color
  width: 50%
  margin: 50px auto

textarea
  margin: 15px 0

.row
  margin-left: 0
  margin-right: 0
