@media (max-width: 1150px)
  .searchBox-flex
    height: 150px

  .posts-wrap
    .posts
      .post
        .post-img
          height: 350px

@media (max-width: 903px)
  .searchBox-flex
    height: 130px

  .sidebar-show
    display: none

  .posts-wrap
    .col-md-9
      width: 100%

  .navbar
    hr
      width: 80%

@media (max-width: 800px)
  .posts-wrap
    width: 90%

@media (max-width: 750px)
  .featured-home
    .featured-post-wrap
      top: 30px
      width: 85%

      .featured-body
        font-size: 22px

@media (max-width: 690px)
  .posts-wrap
    .posts
      .post
        .post-img
          height: 350px
          margin-left: -40px
          margin-right: -40px

  .navbar
    hr
      width: 98%

  .home-search
    display: none

  .featured-home
    .featured-post-wrap
      top: 100px

@media (max-width: 550px)
  .featured-home
    .featured-post-wrap
      top: 80px

  .header
    h1
      font-size: 78px
    p
      font-size: 14px

  .posts-wrap
    .posts
      .post
        .post-info
          p.date
            font-size: 10px

@media (max-width: 500px)
  .posts-wrap
    .posts
      .post
        .post-img
          height: 250px

@media (max-width: 457px)
  .featured-home
    .featured-post-wrap
      top: 70px

@media (max-width: 417px)
  .featured-home
    .featured-post-wrap
      top: 55px

  .header
    h1
      font-size: 64px
    p
      font-size: 12px

  .posts-wrap
    .posts
      .post
        .post-img
          height: 200px

@media (max-width: 360px)
  .featured-home
    .featured-post-wrap
      top: 35px

@media (max-width: 320px)
  .featured-home
    .featured-post-wrap
      top: 50px
      .featured-body
        font-size: 20px

  .header
    h1
      font-size: 60px
