.navbar
  text-align: center
  hr
    width: 800px
    margin: 0px auto

  ul
    list-style-type: none
    margin: 0
    padding: 0

    li
      display: inline-block
      margin: 0 20px
      text-transform: uppercase
      padding: 10px 0
      font:
        size: 12px
        family: $primary-font
