.navbar
  text-align: center

  hr
    width: 800px
    margin: 0px auto

  ul.menu
    list-style-type: none
    margin: 0
    padding: 0

    .menu-btn
      display: inline-block
      margin: 0 20px
      text-transform: uppercase
      padding: 10px 0
      font:
        size: 12px
        family: $primary-font

    .pointer
      padding: 0
      margin: 0
      position: relative

.dropdown-menu
  a
    text-transform: none
    font:
      family: $primary-font !important
      weight: 300 !important

    &:hover
      color: $featured-text !important
      background: transparentize($read-more, 0.2) !important

a.dropdown-toggle
  padding: 10px 15px
