+keyframes(fadeIn)
  from
    opacity: 0
    +translateY(40px)
  to
    opacity: 1
    +translateY(0)

.featured
  position: relative
  margin: 50px auto

  hr
    width: 100%
    margin: 5px 0
    background: $featured-border

  .img-wrap
    height: 500px
    overflow: hidden
    position: relative

    img
      position: absolute
      top: 50%
      min-height: 100%
      display: block
      left: 50%
      +transform(translate(-50%, -50%))
      min-width: 100%

  .featured-post-wrap
    margin: 0 auto
    +position(absolute, 10px 0 75px 0)
    width: 70%
    color: $featured-text
    +animation(fadeIn 0.8s ease-out)

    h2
      font:
        family: $blog-font
        size: 48px
      margin: 0
      text-shadow: 0px 1px 1px rgba(0,0,0, 0.5)
      background-color: rgba(0,0,0, 0.1)
      padding: 10px
      border-top-left-radius: 5px
      border-top-right-radius: 5px

    .featured-body
      text-align: justify
      font:
        family: $primary-font
        size: 24px
        weight: 300
      margin: 0 0 30px
      text-shadow: 0px 1px 1px rgba(0,0,0, 0.5)
      background-color: rgba(0,0,0, 0.2)
      padding: 10px
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

.posts-wrap
  margin: 100px auto 0
  width: 80%
  box-shadow: 0 0 3px 1px $shadow
  +display(flex)

  .posts
    padding: 25px
    display: inline-block
    width: 100%

    .post
      margin: 0 0 30px
      width: 100%

      .post-info
        p.date
          font:
            family: $primary-font
            size: 12px
            weight: 700
          text-transform: uppercase
          color: $post-paragraph
          margin: 0

          span
            color: transparentize($post-paragraph, 0.3)

        a.title
          color: $post-title

          &:hover
            color: transparentize($post-title, 0.1)
          &:hover, &:active, &:visited, &:link
            text-decoration: none

        h2
          font:
            family: $blog-font
            size: 42px
          margin: 10px 0
          color: $post-title

        .post-paragraph
          text-align: justify
          font:
            family: $primary-font
            size: 20px
            weight: 300
          margin: 15px 0
          color: $post-paragraph

        .read-more-container
          padding: 25px 0 5px
          text-align: center

          .read-more
            font:
              size: 20px

        .comentarios
          padding-bottom: 10px
          padding-top: 10px
          text-align: center

          .comentar
            color: $read-more
            background: $comments
            text-transform: uppercase
            text-decoration: none
            text-align: center
            font:
              family: $primary-font
              size: 20px
              weight: 300
            border-radius: 0px
            padding: 10px 30px
            +transition(0.2s ease-in-out)

            &:hover
              background: opacify($comments, 0.2)
              color: transparentize($post-title, 0.2)
              +transition(0.2s ease-in-out)

            &:hover, &:active, &:visited, &:link, &:focus
              text-decoration: none
              color: transparentize($post-title, 0.2)

            &:visited
              color: transparentize($post-title, 0.2)

        ul
          list-style-type: none
          padding: 0
          margin: 25px 0 50px

          a
            margin: 0 20px 0 0
            padding: 0

          li
            text-transform: uppercase
            font:
              family: $primary-font
              size: 12px
              weight: 700
            display: inline-block
            padding: 0
            margin: 0

      .post-img
        height: 400px
        overflow: hidden
        position: relative

        img
          position: absolute
          top: 50%
          width: 125%
          height: auto
          min-height: 100%
          display: block
          left: 50%
          +transform(translate(-50%, -50%))

      .post-img-full
        img
          max-width: 100%

.author
  width: 700px
  margin: 0 auto
  +display(flex)
  +align-items(center)
  padding: 20px
  border-top: 1px solid transparentize($hr-color, 0.5)
  border-bottom: 1px solid transparentize($hr-color, 0.5)

  .author-img
    position: relative
    width: 150px
    height: 150px
    overflow: hidden
    border-radius: 50%
    z-index: 2
    display: inline-block

    img
      width: 100%
      height: 100%

  .author-desc
    display: inline-block
    width: 500px
    padding-left: 30px
    text-align: justify
    font:
      style: italic
      weight: 300
      family: $primary-font

    .name
      font-size: 20px
      color: transparentize($post-title, 0.2)

    .desc
      margin-top: 5px
      font-size: 18px
      color: transparentize($post-title, 0.3)

.comments-wrap
  margin-top: 100px

  p
    font:
      family: $primary-font
      size: 16px
      weight: 300

  textarea
    border-radius: 0
    font:
      family: $primary-font
      size: 16px
      weight: 300
    border-color: rgba(0,0,0,0.15)
    margin-top: 5px

    &:focus
      box-shadow: inset 0 1px 1px $shadow, 0 0 8px $links
      border-color: $links

  h2
    font:
      family: $primary-font
      size: 32px
      weight: 300
    margin: 10px 0 30px
    color: $post-title

  .single-comment-wrap
    margin-bottom: 30px

    .single-comment
      margin: 5px auto
      padding: 15px
      +display(flex)
      +align-items(center)

      .img
        margin: 0 25px
        border-radius: 50%
        width: 128px
        min-width: 128px
        height: 128px
        overflow: hidden

        img
          width: 100%
          height: 100%

      .info
        width: 75%
        padding: 20px

        .name, .date
          display: inline-block

        .name
          font:
            family: $primary-font
            weight: 300
            size: 18px

        .admin
          color: transparentize($read-more, 0.4)

        .user
          color: transparentize($post-title, 0.2)

        .date
          font:
            family: $primary-font
            weight: 300
            size: 14px
          color: $post-paragraph

        .comment
          font:
            family: $primary-font
            weight: 300
            size: 16px
          color: transparentize($post-title, 0.3)
          text-align: justify
          margin-top: 10px

        textarea.edit-comment
          font:
            family: $primary-font
            weight: 300
            size: 16px
          color: transparentize($post-title, 0.2)
          text-align: justify
          margin-top: 10px
          display: none

      .edit-comment-wrap
        border-left: 1px dashed $vr-color
        text-align: center
        padding: 20px 5px 20px 20px

        .edit-btn, .delete-btn
          display: block
          padding: 5px
          +size(30px)
          border: 1px solid transparentize($post-paragraph, 0.6)
          color: $post-paragraph
          background: transparentize($featured-text, 0.6)
          border-radius: 3px
          margin-bottom: 10px
          +transition(0.2s ease-in-out)

        .delete-btn
          margin-bottom: 0px
          +transition(0.2s ease-in-out)

          &:hover
            background: $error
            color: $featured-text
            +transition(0.2s ease-in-out)

        .edit-btn
          &:hover
            background: $edit
            color: $featured-text
            +transition(0.2s ease-in-out)

      .no-comment
        margin: 20px auto
        font:
          family: $primary-font
          weight: 300
          size: 18px
        color: transparentize($post-title, 0.3)
        text-align: center

        .no-comment-header
          font-size: 18px
          margin: 5px auto

        .no-comment-desc
          font-size: 16px
          margin: 5px auto

.owned
  background: opacify($comments, 0.1)

.not-owned
  background: $comments

.social-btns
  margin: 0 auto 75px
  +size(350px 150px)
  +display(flex)
  +align-items(center)
  +justify-content(center)
  +flex-direction(column)
  border-radius: 5px
  background-color: transparentize($post-paragraph, 0.87)

.share-title
  margin: 0 auto 20px
  padding: 0
  font:
    family: $primary-font
    size: 26px
    weight: 300

.facebook, .twitter, .googleplus
  display: inline-block
  margin: 0 10px

  a
    color: white

.socicon-facebook, .socicon-twitter, .socicon-googleplus
  text-align: center
  +display(flex)
  +align-items(center)
  +justify-content(center)
  +flex-direction(row)
  +size(50px)
  font-size: 28px
  +transition(0.2s ease-in-out)

  &:hover
    opacity: 0.7

.socicon-facebook
  background: #3e5b98

.socicon-twitter
  background: #4da7de

.socicon-googleplus
  background: #dd4b39
