@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic,700);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?stjdim");
  src: url("fonts/icomoon.eot?stjdim#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?stjdim") format("truetype"), url("fonts/icomoon.woff?stjdim") format("woff"), url("fonts/icomoon.svg?stjdim#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\f00d"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-times:before {
  content: "\f00d"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-phone-square:before {
  content: "\f098"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-envelope-square:before {
  content: "\f199"; }

.icon-quote-left:before {
  content: "\f10d"; }

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: white; }

a {
  color: #d78383; }
  a:hover {
    color: rgba(215, 131, 131, 0.8);
    text-decoration: none; }

hr {
  border: 0px;
  height: 1px;
  background: #b6b5af;
  width: 50%;
  margin: 50px auto; }

textarea {
  margin: 15px 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.header {
  text-align: center;
  font-family: "Volkhov", serif; }
  .header h1 {
    margin: 50px auto 0px;
    font-size: 96px; }
    .header h1 a {
      color: #333333; }
      .header h1 a:hover, .header h1 a:active, .header h1 a:visited, .header h1 a:link {
        text-decoration: none; }
  .header p {
    margin: 0 auto 50px; }

.navbar {
  text-align: center; }
  .navbar hr {
    width: 800px;
    margin: 0px auto; }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar ul li {
      display: inline-block;
      margin: 0 20px;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 12px;
      font-family: "Open Sans", sans-serif; }

.content .featured {
  position: relative;
  margin: 50px auto; }
  .content .featured hr {
    width: 100%;
    margin: 5px 0;
    background: #d0d0d0; }
  .content .featured .img-wrap {
    height: 500px;
    overflow: hidden;
    position: relative; }
    .content .featured .img-wrap img {
      position: absolute;
      top: 50%;
      min-height: 100%;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%; }
  .content .featured .featured-post-wrap {
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    width: 70%;
    color: white; }
    .content .featured .featured-post-wrap h2 {
      font-family: "Volkhov", serif;
      font-size: 48px;
      margin: 0; }
    .content .featured .featured-post-wrap p {
      text-align: justify;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-weight: 300;
      margin: 0 0 30px; }
    .content .featured .featured-post-wrap .read-more {
      color: white;
      background: rgba(231, 70, 70, 0.9);
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-weight: 300;
      border-radius: 0px;
      padding: 10px 30px; }
      .content .featured .featured-post-wrap .read-more:hover {
        background: #e74646; }
      .content .featured .featured-post-wrap .read-more:active {
        background: rgba(231, 70, 70, 0.9); }

.content .posts-wrap {
  margin: 100px auto 0;
  width: 80%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  position: relative; }
  .content .posts-wrap .posts {
    width: 75%;
    padding: 25px;
    display: inline-block; }
    .content .posts-wrap .posts .post {
      margin: 0 0 30px;
      width: 100%; }
      .content .posts-wrap .posts .post .post-info p.date {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #7a7a7a;
        margin: 0; }
      .content .posts-wrap .posts .post .post-info a.title {
        color: #333333; }
        .content .posts-wrap .posts .post .post-info a.title:hover {
          color: rgba(51, 51, 51, 0.9); }
      .content .posts-wrap .posts .post .post-info h2 {
        font-family: "Volkhov", serif;
        font-size: 42px;
        margin: 10px 0;
        color: #333333; }
      .content .posts-wrap .posts .post .post-info p {
        text-align: justify;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: 15px 0;
        color: #7a7a7a; }
      .content .posts-wrap .posts .post .post-info ul {
        list-style-type: none;
        padding: 0;
        margin-top: 25px; }
        .content .posts-wrap .posts .post .post-info ul a {
          margin: 0 20px 0 0;
          padding: 0; }
        .content .posts-wrap .posts .post .post-info ul li {
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: 700;
          display: inline-block;
          padding: 0;
          margin: 0; }
      .content .posts-wrap .posts .post .post-img {
        height: 400px;
        overflow: hidden;
        position: relative; }
        .content .posts-wrap .posts .post .post-img img {
          position: absolute;
          top: 50%;
          min-height: 100%;
          display: block;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          min-width: 100%; }
  .content .posts-wrap .sidebar {
    display: inline-block;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px; }
    .content .posts-wrap .sidebar hr {
      margin: 30px auto; }
    .content .posts-wrap .sidebar p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #7a7a7a;
      margin-bottom: 15px; }
    .content .posts-wrap .sidebar ul {
      list-style-type: none;
      padding: 0 10px; }
      .content .posts-wrap .sidebar ul li {
        font-size: 14px;
        margin: 5px 0;
        padding: 0; }
    .content .posts-wrap .sidebar .tags li {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 700;
      display: inline-block;
      background: #d78383;
      color: white;
      padding: 0 5px;
      border-radius: 3px; }
      .content .posts-wrap .sidebar .tags li:hover {
        background: rgba(215, 131, 131, 0.8); }

#content .margin-top-20 {
  margin-top: 20px; }

#content .edit-form {
  margin: 35px; }

#create .form-wrap .btn {
  margin: 15px 0 100px; }

/*# sourceMappingURL=layout.css.map */
