@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic,700);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?stjdim");
  src: url("fonts/icomoon.eot?stjdim#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?stjdim") format("truetype"), url("fonts/icomoon.woff?stjdim") format("woff"), url("fonts/icomoon.svg?stjdim#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\f00d"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-times:before {
  content: "\f00d"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-phone-square:before {
  content: "\f098"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-envelope-square:before {
  content: "\f199"; }

.icon-quote-left:before {
  content: "\f10d"; }

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: white; }

a {
  color: #d78383; }
  a:hover {
    color: rgba(215, 131, 131, 0.8); }
  a:hover, a:active, a:visited, a:link {
    text-decoration: none; }
  a:visited {
    color: #d78383; }

hr {
  border: 0px;
  height: 1px;
  background: rgba(182, 181, 175, 0.7);
  width: 50%;
  margin: 50px auto; }

textarea {
  margin: 15px 0; }

.trumbowyg-editor {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #7a7a7a; }

.trumbowyg-button-pane {
  background: #ececec; }

.row {
  margin-left: 0;
  margin-right: 0; }

.read-more {
  color: white;
  background: rgba(231, 70, 70, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  border-radius: 0px;
  padding: 10px 30px;
  transition: 0.2s ease-in-out; }
  .read-more:hover {
    background: #e74646;
    color: white;
    transition: 0.2s ease-in-out; }
  .read-more:hover, .read-more:active, .read-more:visited, .read-more:link, .read-more:focus {
    text-decoration: none;
    color: white; }
  .read-more:visited {
    color: white; }

.form-margin-top {
  margin: 15px auto 0px; }

.beauty-bar h2 {
  color: white !important;
  margin: 20px !important;
  border-radius: 5px; }

.beauty-bar .img-wrap {
  height: 100px !important; }
  .beauty-bar .img-wrap img {
    min-height: 0;
    min-width: 100%; }

.beauty-bar .featured-post-wrap {
  bottom: 0 !important;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-animation: none !important;
  animation: none !important; }

.pointer {
  cursor: pointer; }

.swal2-modal {
  font-family: "Open Sans", sans-serif; }

.btn {
  color: #333333; }
  .btn:visited {
    color: #333333; }

.btn-primary {
  color: white; }
  .btn-primary:visited {
    color: white; }

.btn-success {
  color: white; }
  .btn-success:visited {
    color: white; }

.btn-danger {
  color: white; }
  .btn-danger:visited {
    color: white; }

.read-more {
  color: white; }
  .read-more:visited {
    color: white; }

.header-bar {
  margin-top: 0;
  height: 3px;
  background-color: #d78383; }

.header {
  text-align: center;
  font-family: "Volkhov", serif; }
  .header h1 {
    margin: 50px auto 0px;
    font-size: 96px; }
    .header h1 a {
      color: #333333; }
      .header h1 a:hover, .header h1 a:active, .header h1 a:visited, .header h1 a:link {
        text-decoration: none; }
  .header p {
    margin: 0 auto 50px;
    color: rgba(51, 51, 51, 0.7); }

.navbar {
  text-align: center; }
  .navbar hr {
    width: 60%;
    margin: 0px auto; }
  .navbar ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar ul.menu .menu-btn {
      display: inline-block;
      margin: 0 20px;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 12px;
      font-family: "Open Sans", sans-serif; }
    .navbar ul.menu .pointer {
      padding: 0;
      margin: 0;
      position: relative; }

.dropdown-menu {
  margin-left: 15px;
  border-radius: 0; }
  .dropdown-menu a {
    text-transform: none;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300 !important; }
    .dropdown-menu a:hover {
      color: white !important;
      background: rgba(231, 70, 70, 0.8) !important; }

a.dropdown-toggle {
  padding: 10px 15px 10px 0px;
  margin-left: 15px; }

.navbar-mobile {
  display: none; }
  .navbar-mobile .mobile-menu-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    padding-bottom: 8px; }
  .navbar-mobile .box-shadow-menu {
    position: relative;
    padding-left: 30px; }
  .navbar-mobile .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
    height: 2px;
    background: #7a7a7a;
    box-shadow: 0 8px 0 0 #7a7a7a, 0 16px 0 0 #7a7a7a; }
  .navbar-mobile ul.menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar-mobile ul.menu .menu-btn {
      text-align: center;
      display: block;
      margin: 0;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      background: white;
      border-bottom: 1px solid rgba(182, 181, 175, 0.5); }
      .navbar-mobile ul.menu .menu-btn .dropdown-toggle {
        margin: 0;
        padding: 10px 50px; }
  .navbar-mobile .dropdown-menu {
    left: 100px;
    right: 100px;
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
    border-radius: 0; }
    .navbar-mobile .dropdown-menu a {
      text-transform: none;
      font-family: "Open Sans", sans-serif !important;
      font-weight: 300 !important; }
      .navbar-mobile .dropdown-menu a:hover {
        color: white !important;
        background: rgba(231, 70, 70, 0.8) !important; }

#content .margin-top-20 {
  margin-top: 20px; }

#content .edit-form {
  margin: 35px; }

#create .form-wrap .form-control, #content .form-wrap .form-control {
  margin: 0px auto 15px; }

#create .form-wrap .btn, #content .form-wrap .btn {
  margin: 0px auto 100px; }

#create .form-wrap label, #content .form-wrap label {
  margin: 15px auto 0px; }

.select2-container {
  width: 100%; }

.archive h1 {
  font-family: "Volkhov", serif;
  font-size: 42px;
  text-align: center;
  margin: 10px 0 40px 0;
  color: #333333; }

.archive h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0;
  color: #333333; }

.archive ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; }
  .archive ul li .archive-post {
    margin: 5px auto auto 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300; }
    .archive ul li .archive-post .date {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #7a7a7a;
      margin: 0; }

.searchBox-flex {
  height: 170px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .searchBox-flex .searchBox {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 5px; }
    .searchBox-flex .searchBox .searchBox-input {
      text-align: center;
      border-radius: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-weight: 300;
      padding: 0 25px;
      height: 52px;
      border-color: transparent; }
      .searchBox-flex .searchBox .searchBox-input:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px #d78383;
        border-color: #d78383; }
    .searchBox-flex .searchBox .searchBox-btn {
      border-radius: 0;
      font-size: 24px;
      padding: 10px 14px 6px;
      background: rgba(231, 70, 70, 0.8);
      color: white;
      transition: 0.2s ease-in-out;
      border-color: transparent; }
      .searchBox-flex .searchBox .searchBox-btn:hover {
        box-shadow: 0 0 8px #d78383;
        background: rgba(231, 70, 70, 0.9); }

.results .searchBox-flex {
  height: 112px; }

.results h1 {
  font-family: "Volkhov", serif;
  font-size: 32px;
  text-align: center;
  margin: 10px 0 40px 0;
  color: #333333; }
  .results h1 strong {
    color: rgba(51, 51, 51, 0.95); }

.profile {
  text-align: center; }
  .profile .read-more {
    border: 0;
    margin-top: 75px; }
  .profile textarea {
    margin-top: 0; }
  .profile em {
    size: 14px;
    margin-left: 2px;
    color: #7a7a7a; }

.profile-img {
  margin: 10px auto 20px;
  border-radius: 50%;
  width: 128px;
  min-width: 128px;
  height: 128px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1); }
  .profile-img img {
    width: 100%;
    height: 100%; }

.profile-wrap {
  padding: 50px;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); }

.profile-person, .profile-desc {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 40px; }
  .profile-person p.name, .profile-desc p.name {
    font-size: 26px;
    color: rgba(51, 51, 51, 0.9); }
  .profile-person p.email, .profile-desc p.email {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 0; }
  .profile-person p.since, .profile-desc p.since {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.9);
    margin-bottom: 0; }
  .profile-person p.counters, .profile-desc p.counters {
    font-size: 18px;
    margin-top: 15px;
    color: rgba(51, 51, 51, 0.9); }
  .profile-person p.about-title, .profile-desc p.about-title {
    margin-top: 40px;
    font-size: 24px; }
  .profile-person p.about, .profile-desc p.about {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.9);
    font-style: italic; }
  .profile-person span, .profile-desc span {
    display: block;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgba(51, 51, 51, 0.7); }

.modal {
  text-align: left; }

.modal-header {
  text-align: center; }
  .modal-header h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 26px; }

.modal-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-top: 25px; }
  .modal-body label {
    font-weight: 500; }
  .modal-body input, .modal-body textarea {
    font-size: 18px; }
    .modal-body input:focus, .modal-body textarea:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px #d78383;
      border-color: #d78383; }
  .modal-body .file-input {
    font-size: 14px; }
    .modal-body .file-input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px #d78383;
      border-color: #d78383; }
  .modal-body #avatar {
    height: 40px; }

.modal-footer .btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.featured {
  position: relative;
  margin: 50px auto; }
  .featured hr {
    width: 100%;
    margin: 5px 0;
    background: #d0d0d0; }
  .featured .img-wrap {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-orient: vertical;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding: 50px 0; }
    .featured .img-wrap img {
      position: absolute;
      top: 50%;
      min-height: 100%;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%; }
  .featured .home-search {
    height: 100%;
    max-height: 100%;
    margin-bottom: 40px; }
  .featured .featured-post-wrap {
    margin: 0 auto;
    width: 70%;
    color: white;
    -webkit-animation: fadeIn 0.8s ease-out;
    animation: fadeIn 0.8s ease-out; }
    .featured .featured-post-wrap h2 {
      font-family: "Volkhov", serif;
      font-size: 48px;
      margin: 0;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .featured .featured-post-wrap .featured-body {
      text-align: left;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-weight: 300;
      margin: 0 0 30px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.2);
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

.posts-wrap {
  margin: 100px auto 0;
  width: 80%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .posts-wrap .posts {
    padding: 25px;
    display: inline-block;
    width: 100%; }
    .posts-wrap .posts .post {
      margin: 0 0 30px;
      width: 100%; }
      .posts-wrap .posts .post .post-info p.date {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #7a7a7a;
        margin: 0; }
        .posts-wrap .posts .post .post-info p.date span {
          color: rgba(122, 122, 122, 0.7); }
      .posts-wrap .posts .post .post-info a.title {
        color: #333333; }
        .posts-wrap .posts .post .post-info a.title:hover {
          color: rgba(51, 51, 51, 0.9); }
        .posts-wrap .posts .post .post-info a.title:hover, .posts-wrap .posts .post .post-info a.title:active, .posts-wrap .posts .post .post-info a.title:visited, .posts-wrap .posts .post .post-info a.title:link {
          text-decoration: none; }
      .posts-wrap .posts .post .post-info h2 {
        font-family: "Volkhov", serif;
        font-size: 42px;
        margin: 10px 0;
        color: #333333; }
      .posts-wrap .posts .post .post-info .post-paragraph {
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: 15px 0;
        color: #7a7a7a; }
      .posts-wrap .posts .post .post-info .read-more-container {
        padding: 25px 0 5px;
        text-align: center; }
        .posts-wrap .posts .post .post-info .read-more-container .read-more {
          font-size: 20px; }
      .posts-wrap .posts .post .post-info .comentarios {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center; }
        .posts-wrap .posts .post .post-info .comentarios .comentar {
          color: #e74646;
          background: rgba(194, 180, 181, 0.2);
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: 300;
          border-radius: 0px;
          padding: 10px 30px;
          transition: 0.2s ease-in-out; }
          .posts-wrap .posts .post .post-info .comentarios .comentar:hover {
            background: rgba(194, 180, 181, 0.4);
            color: rgba(51, 51, 51, 0.8);
            transition: 0.2s ease-in-out; }
          .posts-wrap .posts .post .post-info .comentarios .comentar:hover, .posts-wrap .posts .post .post-info .comentarios .comentar:active, .posts-wrap .posts .post .post-info .comentarios .comentar:visited, .posts-wrap .posts .post .post-info .comentarios .comentar:link, .posts-wrap .posts .post .post-info .comentarios .comentar:focus {
            text-decoration: none;
            color: rgba(51, 51, 51, 0.8); }
          .posts-wrap .posts .post .post-info .comentarios .comentar:visited {
            color: rgba(51, 51, 51, 0.8); }
      .posts-wrap .posts .post .post-info ul {
        list-style-type: none;
        padding: 0;
        margin: 25px 0 50px; }
        .posts-wrap .posts .post .post-info ul a {
          margin: 0 20px 0 0;
          padding: 0; }
        .posts-wrap .posts .post .post-info ul li {
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: 700;
          display: inline-block;
          padding: 0;
          margin: 0; }
      .posts-wrap .posts .post .post-img {
        height: 400px;
        overflow: hidden;
        position: relative; }
        .posts-wrap .posts .post .post-img img {
          position: absolute;
          top: 50%;
          width: 125%;
          height: auto;
          min-height: 100%;
          display: block;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .posts-wrap .posts .post .post-img-full img {
        max-width: 100%; }

.author {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 20px;
  border-top: 1px solid rgba(182, 181, 175, 0.5);
  border-bottom: 1px solid rgba(182, 181, 175, 0.5); }
  .author .author-img {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2;
    display: inline-block; }
    .author .author-img img {
      width: 100%;
      height: 100%; }
  .author .author-desc {
    display: inline-block;
    width: 75%;
    padding-left: 30px;
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-family: "Open Sans", sans-serif; }
    .author .author-desc .name {
      font-size: 20px;
      color: rgba(51, 51, 51, 0.8); }
    .author .author-desc .desc {
      margin-top: 5px;
      font-size: 18px;
      color: rgba(51, 51, 51, 0.7); }

.comments-wrap {
  margin-top: 100px; }
  .comments-wrap p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .comments-wrap textarea {
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-color: rgba(0, 0, 0, 0.15);
    margin-top: 5px; }
    .comments-wrap textarea:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px #d78383;
      border-color: #d78383; }
  .comments-wrap h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0 30px;
    color: #333333; }
  .comments-wrap .single-comment-wrap {
    margin-bottom: 30px; }
    .comments-wrap .single-comment-wrap .single-comment {
      margin: 5px auto;
      padding: 15px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      .comments-wrap .single-comment-wrap .single-comment .img {
        margin: 0 25px;
        border-radius: 50%;
        width: 128px;
        min-width: 128px;
        height: 128px;
        overflow: hidden; }
        .comments-wrap .single-comment-wrap .single-comment .img img {
          width: 100%;
          height: 100%; }
      .comments-wrap .single-comment-wrap .single-comment .info {
        width: 75%;
        padding: 20px; }
        .comments-wrap .single-comment-wrap .single-comment .info .name, .comments-wrap .single-comment-wrap .single-comment .info .date {
          display: inline-block; }
        .comments-wrap .single-comment-wrap .single-comment .info .name {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 18px; }
        .comments-wrap .single-comment-wrap .single-comment .info .admin {
          color: rgba(231, 70, 70, 0.6); }
        .comments-wrap .single-comment-wrap .single-comment .info .user {
          color: rgba(51, 51, 51, 0.8); }
        .comments-wrap .single-comment-wrap .single-comment .info .date {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: #7a7a7a; }
        .comments-wrap .single-comment-wrap .single-comment .info .comment {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: rgba(51, 51, 51, 0.7);
          text-align: left;
          margin-top: 10px; }
        .comments-wrap .single-comment-wrap .single-comment .info textarea.edit-comment {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: rgba(51, 51, 51, 0.8);
          text-align: left;
          margin-top: 10px;
          display: none; }
      .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap {
        border-left: 1px dashed rgba(125, 125, 125, 0.5);
        text-align: center;
        padding: 20px 5px 20px 20px; }
        .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .edit-btn, .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .delete-btn {
          display: block;
          padding: 5px;
          height: 30px;
          width: 30px;
          border: 1px solid rgba(122, 122, 122, 0.4);
          color: #7a7a7a;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 3px;
          margin-bottom: 10px;
          transition: 0.2s ease-in-out; }
        .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .delete-btn {
          margin-bottom: 0px;
          transition: 0.2s ease-in-out; }
          .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .delete-btn:hover {
            background: rgba(182, 58, 58, 0.9);
            color: white;
            transition: 0.2s ease-in-out; }
        .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .edit-btn:hover {
          background: rgba(46, 117, 176, 0.9);
          color: white;
          transition: 0.2s ease-in-out; }
      .comments-wrap .single-comment-wrap .single-comment .no-comment {
        margin: 20px auto;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: rgba(51, 51, 51, 0.7);
        text-align: center; }
        .comments-wrap .single-comment-wrap .single-comment .no-comment .no-comment-header {
          font-size: 18px;
          margin: 5px auto; }
        .comments-wrap .single-comment-wrap .single-comment .no-comment .no-comment-desc {
          font-size: 16px;
          margin: 5px auto; }

.owned {
  background: rgba(194, 180, 181, 0.3); }

.not-owned {
  background: rgba(194, 180, 181, 0.2); }

.social-btns {
  margin: 0 auto 75px;
  height: 150px;
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  border-radius: 5px;
  background-color: rgba(122, 122, 122, 0.13); }

.share-title {
  margin: 0 auto 20px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 300; }

.facebook, .twitter, .googleplus {
  display: inline-block;
  margin: 0 10px; }
  .facebook a, .twitter a, .googleplus a {
    color: white; }

.socicon-facebook, .socicon-twitter, .socicon-googleplus {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  height: 50px;
  width: 50px;
  font-size: 28px;
  transition: 0.2s ease-in-out; }
  .socicon-facebook:hover, .socicon-twitter:hover, .socicon-googleplus:hover {
    opacity: 0.7; }

.socicon-facebook {
  background: #3e5b98; }

.socicon-twitter {
  background: #4da7de; }

.socicon-googleplus {
  background: #dd4b39; }

.login-register {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  .login-register label {
    font-weight: 500; }
  .login-register input {
    font-size: 18px; }
    .login-register input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px #d78383;
      border-color: #d78383; }

.login-register-wrap {
  padding: 50px;
  margin: 50px auto;
  width: 60%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); }

.login-register-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 35px; }

.checkbox {
  text-align: center; }
  .checkbox label {
    font-weight: 300; }
  .checkbox input {
    height: 15px;
    width: 15px; }

.login-register-btn {
  text-align: center;
  margin: 25px auto 15px; }
  .login-register-btn .read-more {
    text-transform: none;
    font-size: 20px; }

.forgot-pass-no-account {
  text-align: center;
  font-size: 16px; }
  .forgot-pass-no-account a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .forgot-pass-no-account p {
    margin-top: 35px; }

.sidebar {
  padding: 25px;
  transition: 0.3s ease-in-out; }
  .sidebar hr {
    margin: 30px auto; }
  .sidebar p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
    margin-bottom: 15px; }
  .sidebar ul {
    list-style-type: none;
    padding: 0 10px; }
    .sidebar ul li {
      font-size: 14px;
      margin: 5px 0;
      padding: 0; }
  .sidebar .tags li {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    display: inline-block;
    background: #d78383;
    color: white;
    padding: 0 5px;
    border-radius: 3px; }
    .sidebar .tags li:hover {
      background: rgba(215, 131, 131, 0.8); }

@media (max-width: 1150px) {
  .searchBox-flex {
    height: 150px; }
  .posts-wrap .posts .post .post-img {
    height: 350px; } }

@media (max-width: 1000px) {
  .sidebar-show {
    display: none; }
  .posts-wrap .col-md-9 {
    width: 100%; } }

@media (max-width: 903px) {
  .searchBox-flex {
    height: 130px; }
  .navbar hr {
    width: 80%; } }

@media (max-width: 800px) {
  .posts-wrap {
    width: 90%; }
  .profile-wrap {
    width: 75%; } }

@media (max-width: 750px) {
  .featured-home .featured-post-wrap {
    width: 85%; }
    .featured-home .featured-post-wrap .featured-body {
      font-size: 22px; }
  .social-btns {
    width: 60%; } }

@media (max-width: 690px) {
  .posts-wrap .posts .post .post-img {
    height: 350px; }
  .posts-wrap .posts .post .post-img, .posts-wrap .posts .post .post-img-full {
    margin-left: -40px;
    margin-right: -40px; }
  .navbar hr {
    width: 98%; }
  .home-search {
    display: none; }
  .author .author-img {
    height: 100px;
    width: 100px; }
  .comments-wrap .single-comment-wrap .single-comment {
    position: relative; }
    .comments-wrap .single-comment-wrap .single-comment .date {
      display: block;
      width: 100%; }
      .comments-wrap .single-comment-wrap .single-comment .date span {
        display: none; }
    .comments-wrap .single-comment-wrap .single-comment .img {
      width: 95px;
      min-width: 95px;
      height: 95px;
      margin: 0 15px; }
    .comments-wrap .single-comment-wrap .single-comment .info {
      padding: 10px; }
    .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap {
      position: absolute;
      top: 5px;
      right: 5px;
      border: 0;
      padding: 0; }
      .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .edit-btn, .comments-wrap .single-comment-wrap .single-comment .edit-comment-wrap .delete-btn {
        display: inline-block;
        margin: 0; }
  .social-btns {
    width: 65%; } }

@media (max-width: 600px) {
  .login-register-wrap {
    width: 80%; } }

@media (max-width: 550px) {
  .header {
    margin-top: 75px; }
    .header h1 {
      font-size: 78px; }
    .header p {
      font-size: 14px;
      margin-bottom: 20px; }
  .posts-wrap .posts .post .post-info p.date {
    font-size: 10px; }
  .social-btns {
    width: 75%; }
  .share-title {
    font-size: 22px; }
  .socicon-twitter, .socicon-facebook, .socicon-googleplus {
    height: 40px;
    width: 40px;
    font-size: 24px; }
  .author {
    box-orient: vertical;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-left: 5px;
    padding-right: 5px; }
    .author .author-desc {
      width: 100%;
      text-align: center;
      margin: 10px auto;
      padding: 0; }
      .author .author-desc .name {
        font-size: 20px; }
      .author .author-desc .desc {
        font-size: 18px; }
  .navbar {
    display: none; }
  .navbar-mobile {
    display: block; } }

@media (max-width: 500px) {
  .posts-wrap .posts .post .post-img {
    height: 250px; }
  .social-btns {
    width: 85%; } }

@media (max-width: 457px) {
  .posts-wrap .posts {
    padding-left: 5px;
    padding-right: 5px; }
    .posts-wrap .posts .post .post-img, .posts-wrap .posts .post .post-img-full {
      margin-left: -20px;
      margin-right: -20px; }
  .comments-wrap .single-comment-wrap .single-comment .img {
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin: 0 5px; }
  .comments-wrap .single-comment-wrap .single-comment .info .name {
    font-size: 16px; }
  .comments-wrap .single-comment-wrap .single-comment .info .date {
    font-size: 12px; }
  .comments-wrap .single-comment-wrap .single-comment .info .comment {
    font-size: 14px; }
  .comments-wrap .single-comment-wrap .single-comment .no-comment .no-comment-header {
    font-size: 16px; }
  .comments-wrap .single-comment-wrap .single-comment .no-comment .no-comment-desc {
    font-size: 14px;
    margin-top: 15px; } }

@media (max-width: 417px) {
  .login-register-wrap, .profile-wrap {
    width: 95%;
    padding-left: 25px;
    padding-right: 25px; }
  .header h1 {
    font-size: 64px; }
  .header p {
    font-size: 12px; }
  .posts-wrap .posts .post .post-info h2 {
    font-size: 36px; }
  .posts-wrap .posts .post .post-img {
    height: 200px; }
  .author .author-img {
    height: 75px;
    width: 75px; } }

@media (max-width: 360px) {
  .comments-wrap .single-comment-wrap .single-comment {
    box-orient: vertical;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    position: relative; }
    .comments-wrap .single-comment-wrap .single-comment .info {
      width: 100%;
      text-align: center; } }

@media (max-width: 320px) {
  .featured-home .featured-post-wrap .featured-body {
    font-size: 20px; }
  .social-btns {
    width: 97%; }
  .header h1 {
    font-size: 60px; } }

/*# sourceMappingURL=layout.css.map */
